<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python-flask-sqlite3_Example</title>
   <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<img src="{{url_for('static', filename='abc.jpg')}}" height="100%" width= "100%" alt="SZABIST"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>Easy</strong> Park App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/enternew">User Panel</a>
      </li>
    <!--  <li class="nav-item">
        <a class="nav-link" href="/list_user">User Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list_main">Main Table</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Panel</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/stream">Live Stream</a>
      </li>
    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
    </div>
</nav>

<div class="jumbotron">
  <div class="container">
  <h1 class="display-3">Book Your Slots On Your Handy App!</h1>
  <p class="lead">This is a Mobile Application where you can booked your slots easily. After the booking Your Challan will download on App and as well as mailed on your Email Address</p>
  <hr class="my-4">
  </div>
  <p class="lead">
    
  
  
  </p>
  
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>